                                                                                                                                            
    @keyframes scrollAnimation {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .animate-scroll {
        animation: scrollAnimation 20s linear infinite;
    }
    